body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #1f2937;
}

.header {
    display: flex;
    flex-direction: column;
}

.top-h {
    display: flex;
}

.bottom-h {
    display: flex;
}

.logo {
    color:#F9Faf8;
}